nav{
    text-align: right;
    background-color: rgb(37, 37, 37);
}


nav li{
    list-style: none;
    display: inline-block;
}
nav li a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: aliceblue;
    font-size: 20px;
}
nav li a:hover{
    background-color: rgb(98, 98, 98);
    transition: background-color 1s linear, color 1s ease-in-out;
}