@import url(normalize.css);
body{
    background-color: antiquewhite;
    color: blueviolet;
}
h1{
    color: rgb(111, 99, 180);
}
#container{
    width: 80%;
    background-color: pink;
    margin: 0px auto;
}