@import url(normalize.css);
body{
    background-color: antiquewhite;
    color: blueviolet;
}
h1{
    width: 300px;
    margin: 40px auto;
    padding: 30px;
    border: 5px solid #e123e17d;
    background-color: #d920d998;
    color: rgb(255, 251, 251);
    font-size: 300%;
    text-align: center;
    line-height: 1;
}
#container{
    width: 80%;
    background-color: pink;
    margin: 0px auto;
}